---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <h2>then</h2>
    @<a href="http://tcd.ie/">tcd</a><br><br>
    <div class="journey">
        <div class="journey-item">bai mech eng</div>
        <div class="journey-item">mai biomed eng</div>
    </div>

    <h2>now</h2>
    <p>software engineer</p>
    <p class="work">
        living every little girls dream; building financial infrastructure for the internet
    </p>
    <p class="work-details">
        3y @<a href="https://stripe.com/">stripe</a><br>
        2y+ @<a href="https://apata.com/">apata</a>
    </p>
</Layout>
