---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <h2>say hi back</h2>
    <p class="links">
        <a href="https://github.com/aconcan">github</a><br>
        <a href="https://www.linkedin.com/in/aimeeconcannon/">linkedin</a>
    </p>
</Layout>
