---
import "../styles/global.css";
---

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/circle.svg" type="image/svg+xml">
    <title>aconcan</title>
</head>

<body>
<div class="header">
    <h1>aimée concannon</h1>
</div>

<main>
    <h1>hi, i'm aimée</h1>
    <p>i like computers</p> <br>
    <p>
        bai mech eng <br>
        ↓ <br>
        mai biomed eng <br>
        ↓ <br>
        sofware eng <br>
    </p>
    <p>
        <br>
        <br>
        then: stripe <br>
        now: apata <br>
    </p>
</main>
</body>
</html>
