---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <h1>hi, i'm aimée</h1>
    <p>i like computers</p>
    <img src="/dell.png" alt="me" class="profile-image">

    <div class="nav-links">
        <a href="/about">about</a>
        <a href="/work">recent work</a>
        <a href="/contact">contact</a>
    </div>
</Layout>
